@import "../styles/layout.css";
@import "../styles/loading_spinner.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#backdrop {
    mask-image: linear-gradient(to right, transparent 10%, rgba(0, 0, 0, 0.3));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --orange-50-hsl: 33.3 100% 96.5%;
        --orange-100-hsl: 34.3 100% 91.8%;
        --orange-200-hsl: 32.1 97.7% 83.1%;
        --orange-300-hsl: 30.7 97.2% 72.4%;
        --orange-500-hsl: 24.6 95% 53.1%;
        --orange-600-hsl: 20.5 90.2% 48.2%;
        --orange-950-hsl: 13 81.1% 14.5%;
    }
}

@layer base {
    :root {
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
        --background: var(--orange-100-hsl);
        --foreground: 222.2 84% 4.9%;
        --card: var(--orange-50-hsl);
        --card-foreground: 222.2 84% 4.9%;
        --popover: 32.1 97.7% 83.1%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 24.6 95% 53.1%;
        --primary-foreground: 34.3 100% 91.8%;
        --secondary: var(--orange-50-hsl);
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: var(--orange-50-hsl);
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: var(--orange-600-hsl);
        --accent-foreground: var(--orange-50-hsl);
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: var(--orange-100-hsl);
        --input: var(--orange-200-hsl);
        --ring: 222.2 84% 4.9%;
        --radius: 0.75rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark,
    :root[class~="dark"] {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
